@mixin flex-set(
  $justify-content: initial,
  $align-items: initial,
  $flex-direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@mixin translateCenter() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontsize($size: 16px, $weight: 600) {
  font-size: $size;
  font-weight: $weight;
}
